<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760402663053-uoks3qp73ihq7bkh54r3t78jdlpnjrf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760402663053-uoks3qp73ihq7bkh54r3t78jdlpnjrf7</string>
	<key>API_KEY</key>
	<string>AIzaSyD1ed9qmkeTFGOGxQ7axJjrxKMG6iCja7k</string>
	<key>GCM_SENDER_ID</key>
	<string>760402663053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vesarobert.CustomRimsAR</string>
	<key>PROJECT_ID</key>
	<string>rimsar-f42a1</string>
	<key>STORAGE_BUCKET</key>
	<string>rimsar-f42a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760402663053:ios:f443fb96ca1364b918f4c4</string>
</dict>
</plist>